body {
    font-size: 18px;
    line-height: 1.3;
    background-color: #e7eef8;
}

header,
footer {
    background-color: #03295B;
    color: white;
    padding: 0.5rem;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

p,
a,
button {
    font-family: "Nunito", sans-serif;
    margin: 0;
    font-size: 16px;
}

header p {
    font-size: 14px;
}

header #header-grid {
    display: grid;
    grid-template-columns: 50px 1fr auto auto;
    align-items: center;
}

#nav-logo {
    width: 50px;
}

header h1 {
    font-size: 1.5rem;
}

header h2 {
    font-size: 1rem;
}

header div a img {
    width: 30px;
    margin: 0 5px;
}

nav {
    margin: 0.5rem;
    border: 2px solid #093b7e;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%;
}

.navigation a:hover {
    font-weight: bold;
}

#menu::before {
    content: "≡";
    font-size: 2rem;
}

.responsive {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #03295B;
    text-align: right;
    z-index: 1;
}

.responsive #menu {
    position: relative;
    top: 10px;
    right: 2px;
    text-align: right;
}

.responsive li {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-top: 1px solid #093b7e;
}

.responsive a {
    padding: 0.5rem 0.5rem 0.5rem 10rem;
}

header p {
    grid-column: 1 / -1;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #093b7e;
    margin: 0.5rem 0 0.3rem 0;
    border-radius: 5px;
}

main {
    margin: 1rem 0;
}

img {
    width: 100%;
    margin: 0;
}

section {
    height: auto;
    margin: 0.5rem;
}

.none {
    display: none;
}

main section:nth-last-child(2) {
    display: flex;
    flex-direction: column;
}

.positionparent {
    position: relative;
    padding: 0;
    background-color: #e7eef8;

}

.positionparent .joinus {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff34;
    font-weight: bold;
    font-size: 2rem;
    color: #03295B;
    padding: 0.5rem;
    border: 4px solid #03295B;
    border-radius: 5px;
}

.positionparent div {
    border: none;
}

#event {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    background-color: #03295b8e;
    color: white;
    display: flex;
    align-items: center;
}

#event h3 {
    font-size: 2.2rem;
    height: fit-content;
    font-weight: lighter;
    padding-left: 1rem;
}

#event h3 b,
#newrelease h3 b {
    /* ponerlo al final*/
    font-weight: bold;
}

#weather {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    background-color: #ffffff66;
    color: #023d8a;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#weather h3 {
    margin-top: auto;
}

#weather #grades {
    font-size: 6rem;
    font-family: "Nunito", sans-serif;
}

#weather div:first-child {
    margin-top: 2.4rem;
    justify-self: end;
    line-height: 2rem;
}

#weather div:first-child p {
    font-size: 20px;
}

#weather hr {
    display: none;
}

#weather div:last-child {
    justify-self: start;
    padding-left: 1.5rem;
    text-align: left;
    line-height: 1.7rem;
}

#newrelease {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    background-color: #03295b8f;
    color: white;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newrelease p {
    font-size: 1.3rem;
}

#newrelease h3 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.spotligth {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    background-color: #021c3fa4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spotligth h3 {
    font-size: 2rem;
}

.spotligth a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;
    font-weight: bold;
    display: block;
}

.spotligth hr {
    margin: 1rem 30%;
    margin-bottom: 0.5rem;
    border: none;
    border-top: 1px solid white;
    border-bottom: none;
}

footer {
    font-size: 15px;
    padding-top: 1rem;
    text-align: center;
}

footer img {
    height: 150px;
    width: auto;
}

footer a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 15px 0;
}

footer hr {
    border: none;
    border-top: 1px solid #3d5e8b;
    border-bottom: none;
}