body {
    font-size: 20px;
    line-height: 1.5;
}

header, main, footer {
    max-width: 600px;
}

header, footer {
    background-color: rgb(121, 199, 161);
    color: #005335;
    text-align: center;
    margin: -0.5rem;
}

header {
    padding: 1.5rem;
    align-items: center;
}

h1, h2, p, li {
    font-family: "Barlow", sans-serif;
}

img {
    border-radius: 10px;
}

main section p {
    font-weight: bold;
}

div {
    margin: -1rem auto;
    padding-top: 0;
    border-top: 1px solid rgba(141, 141, 141, 0.566);
    border-bottom: 1px solid rgba(141, 141, 141, 0.566);
}

section p {
    margin-bottom: 0px;
}
section ul {
    margin-top: 10px;
}

footer {
    padding: 1rem;
}

footer p {
    margin: 0;
    font-weight: bold;
}

#last-update {
    color: #7d2c2f;
}